<h1>All Contacts</h1>

<div class ="wrap">
<ul>


<% @contacts.each do |contact| %>
<li>

	 		<a href="/contacts/<%= contact.id %>">Name: <%= contact.first_name %> <%= contact.last_name %> </a></li>
	 		<li>Email: <%= contact.email %></li>
	 		<li>Note: <%= contact.note %></li>
<% end %>
</ul>


</div>

<!-- do I need global moving forward?  could  i replace with % @@rolodex.contacts.each_with_index do |contact, index| %  vs @contacts-->